<RadCartesianChart tkExampleTitle tkToggleNavButton>
    <CategoricalAxis tkCartesianHorizontalAxis allowPan="false" allowZoom="true" majorTickInterval="20"></CategoricalAxis>
    <LinearAxis tkCartesianVerticalAxis allowPan="false" allowZoom="true"></LinearAxis>
    <LineSeries tkCartesianSeries [items]="shearerLocationArray" categoryProperty="time" valueProperty="position"></LineSeries>
    <LineSeries tkCartesianSeries [items]="shearerLocationArray" categoryProperty="time" valueProperty="stalePosition"></LineSeries>
    <Trackball tkCartesianTrackball ></Trackball>
</RadCartesianChart>