<!-- <ScrollView>
    <StackLayout>
        <Label text="well hello there"></Label>
        <Label [text]='shearerLocation'></Label>
    </StackLayout>
    
</ScrollView> -->

<RadCartesianChart tkExampleTitle tkToggleNavButton>
    <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
    <LinearAxis tkCartesianVerticalAxis></LinearAxis>
    <LineSeries tkCartesianSeries [items]="categoricalSource" categoryProperty="time" valueProperty="position">
    </LineSeries>
</RadCartesianChart>
